html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 720px;
  padding-top: 2rem;
  font-family: 'Work Sans';
  color: #444444;
}

button {
  cursor: pointer;
}

button, input {
  font-family: 'Fira Code';
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/FiraCode-Regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/FiraCode-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/FiraCode-SemiBold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/FiraCode-Bold.woff2');
  font-weight: 700;
}

.mono {
  font-family: 'Fira Code';
}

.heading {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.nav-up {
  color: #aaaaaa;
  transition: color .2s;
}

.nav-up:hover {
  color: #888888;
}

.mgray {
  color: #888888;
}

.bold {
  font-weight: 700;
}

.row {
  display: flex;
  flex-direction: row;
}

.row.spaced {
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.row.spaced > * {
  margin: 0 .5rem;
  flex: 1;
}

.col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.interactive {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

svg {
  width: 1rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  margin: -.75rem;
  font-family: 'Fira Code';
}

.projects-container > * {
  flex: 0 calc(50% - 1.5rem);
  margin: .75rem;
  padding: 0 1.5rem;
  border-radius: 2px;
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.project-item {
  border: 1px solid #aaaaaa;
  align-items: start;
  transition: .2s ease;
}

.project-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.project-item:active {
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.project-item .title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.create-project {
  background: #f0f0f0;
  align-items: center;
  font-size: 1.5rem;
}

/* Modal */

.modal-overlay {
  align-items: center;
  background: rgba(96, 96, 96, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  transition: .2s ease-out;
  visibility: hidden;
  z-index: 999;
}

.modal-overlay.open {
  opacity: 1;
  visibility: visible;
}

.modal-overlay:not(.open) {
  pointer-events: none;
}

.modal {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #888888;
  box-shadow: 0 13px 27px -5px rgba(136, 136, 136, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
  width: 500px;
  overflow: auto;
  padding: 3rem;
  position: relative;
  box-sizing: border-box;
}

.modal-container {
  position: relative;
}

.back-button {
  z-index: 9;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
}

.back-button svg {
  height: 60%;
  width: 60%;
}

.back-button:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* Deploy Form */

form .group {
  margin-bottom: 2rem;
}

form .label {
  font-weight: 600;
  margin-bottom: .75rem;
}

form .label:not(:first-child) {
  margin-top: .75rem;
}

form input {
  width: 100%;
  font-size: 1.125rem;
  font-family: 'Fira Code';
  border: 1px solid #aaaaaa;
  outline: none;
  border-radius: 2px;
  padding: .5rem .75rem;
}

form input::placeholder {
  color: #aaaaaa;
}

form button {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #444444;
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  padding: .625rem 0;
  transition: .2s;
}

form button:hover {
  background: #444444;
  color: #ffffff;
}

form .contributor {
  padding: .5rem .75rem;
  border-radius: 2px;
  margin-bottom: .75rem;
  font-family: 'Fira Code';
  font-size: 1.125rem;
  color: rgba(68, 68, 68, .75);
}

form .contributor svg {
  color: rgba(68, 68, 68, .5);
}

/* Project View */

.project {
  margin-bottom: 1.5rem;
}

.project > :first-child {
  flex: 0 50%;
}

.project > :last-child {
  flex: 1
}

.property {
  margin-bottom: 1rem;
}

.property .name {
  font-weight: 600;
}

.property .value {
  font-family: 'Fira Code';
}

.team {
  border: 1px solid #888888;
  border-radius: 2px;
  padding: 2rem;
}

.team .heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.team .members {
  align-self: stretch;
}

.team .members > :not(:last-child) {
  margin-bottom: 1.5rem;
}

.team .membersig {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
}

.team .membersig svg {
  margin-left: .375rem;
  width: 1.125rem;
}

.awaiting {
  color: #888888;
}

.signed {
  color: #3CC784;
}

button.sign {
  color: #3C6BC7;
  background: transparent;
  border: 1px solid #3C6BC7;
  border-radius: 2px;
  padding: .5rem .75rem;
  margin: calc(-.5rem - 1px) 0;
  transition: .2s;
}

button.sign:hover {
  background: #3C6BC7;
  color: #ffffff;
}

